PORT_API=3000

DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@localhost:${DB_PORT_PUBLIC}/${DB_NAME}?schema=public"
DB_USER=warehouse_user
DB_NAME=warehouse_db
DB_PASS=warehouse_pass
DB_PORT_PUBLIC=5432

JWT_KEY=your_secret_key
JWT_EXPIRES=1d
